MONGO_USER=user
MONGO_PASS=password
MONGO_DB=PametniPaketnik  # or whatever you want to use
MONGO_URI_TEMPLATE=mongodb+srv://{user}:{password}@cluster0.nu4cj3h.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
